@import "reveal-js/dist/theme/template/mixins";
@import "reveal-js/dist/theme/template/settings";

$backgroundColor: #157db9;

$mainColor: #FFFFFF;
$headingColor: #FFFFFF;

$mainFontSize: 30px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: capitalize;
$linkColor: #FFFFFF;
$linkColorHover: darken( $linkColor, 25% );
$selectionBackgroundColor: darken( $linkColor, 25% );

$heading1Size: 1.5em;
$heading2Size: 1.3em;
$heading3Size: 1.1em;
$heading4Size: 0.9em;

.reveal h1, h2, h3, h4, h5, h6 {
	text-align: left;
}

@import "reveal-js/dist/theme/template/theme";

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

.reveal pre {
	margin: 50px auto;
}


